<suite name="Suite">
    <listeners>
<!--        <listener class-name="utilities.ExtentReportManager"/>-->
    </listeners>
    <test name="Test">
        <classes>
<!--            <class name="org.hospital.tests.TC_01_BangaloreHospitals"/>-->
<!--            <class name="org.hospital.tests.TC_02_HospitalCount"/>-->
<!--            <class name="org.hospital.tests.TC_03_Open24x7Hospitals"/>-->
<!--            <class name="org.hospital.tests.TC_04_HighRatedHospitals"/>-->
<!--            <class name="org.hospital.tests.TC_05_BookVisitButton"/>-->
            </classes>
    </test>
</suite>